.view {
  position: relative;
  width: 100%;
  min-height: 730px;
  background-color: #ddd;
}

.wrapper {
  text-align: center;

  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 40px;
  border-radius: 8px;
}

.title {
  margin-bottom: 0px;
}

.version {
  font-size: 12px;
  color: #bbb;
  margin-bottom: 20px;
}

.greeting {
  margin-bottom: 16px;
  font-size: 20px;
}

.manual {
  margin-bottom: 16px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  background-color: var(--link-background-color);
  color: #fff;
  font-size: 18px;
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 100%;
}

.link:hover,
.link:focus {
  background-color: var(--link-hover-color);
}

.elem {
  display: flex;
  align-items: center;
}

.elem::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--link-hover-color);
  flex-grow: 1;
}

.text {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-left: 8px;
}

.user {
  margin-bottom: 20px;
}

.userName {
  background-color: var(--link-background-color);
  color: #fff;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 4px;
}
