.form {
  min-width: 300px;
}

.title {
  margin-bottom: 40px;
}

.list {
  margin-bottom: 40px;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
}

.input {
  width: 100%;
}

.button {
  font-size: 18px;
  width: 160px;
  height: 36px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: var(--btn-normal-color);
  transition: background-color 175ms cubic-bezier(1, 0.2, 0, 0.4);
}

.button:hover,
.button:focus {
  background-color: var(--btn-active-color);
}
